// global variables

@use './colors' as *;

// breakpoints vars
$breakpoints: (
    extra-small: 450px,
    between-small: 600px,
    small: 770px,
    medium: 992px,
    extra-medium: 1198px,
    large: 1500px,
    extra-large: 1500px,
);
    
// font-size vars
$f-sizes-extra-small: (
    h1-header-size: 4rem,
    h1-size: 2.5rem,
    h2-size: 1.8rem,
    h3-size: 1.4rem,
    p-size: 0.9rem,
    p-header-size: 1.4rem,
    a-size: 0.8rem,
);

$f-sizes-small: (
    h1-header-size: 4.5rem,
    h1-size: 2.5rem,
    h2-size: 2.1rem,
    h3-size: 1.3rem,
    p-size: 1.1rem,
    p-header-size: 1.6rem,
    a-size: 1.1rem,
);

$f-sizes: (
    h1-header-size: 5.5rem,
    h1-size: 3.5rem,
    h2-size: 2.5rem,
    h3-size: 1.6rem,
    p-size: 1.2rem,
    p-header-size: 1.8rem,
    a-size: 1.2rem,
    btn-size: 1.2rem,
);

$f-sizes-large: (
    h1-header-size: 6rem,
    p-header-size: 1.9rem,
    p-nav-size: 2rem,
);    

$f-sizes-extra-large: (
    h1-header-size: 6.5rem,
    h1-size: 4rem,
    h2-size: 2.5rem,
    h3-size: 1.8rem,
    p-size: 1.2rem,
    p-header-size: 2.2rem,
    a-size: 1.2rem,
);

// buttons vars
$buttons: (
    pad: 20px,
    action-pad: 10px 40px,
    btn-border: 2px solid,
    btn-border-radius: 10px,
);

// cards vars
$cards: (
    pad: 10px,
    marg: 0 0 20px 0,
    card-border: 1px solid map-get($map: $primary, $key: black-color),
    img-border-radius: 15%,
    img-width: 5rem,
    img-height: 5rem,
    
);

// forms vars
$forms: (
    pad: 10px,
    form-border: 1px solid map-get($map: $primary, $key: black-color),
)

