{% extends "base.html" %}

{% block title %}Terms of Use{% endblock %}

{% block content %}
{% block articles_banner %}{% endblock %}
<div class="container">
  <div class="terms-plus-ads">
    <div class="terms-container">
      <div class="terms-heading">
        <h1>Terms of Use</h1>
        <p>Welcome to Money Fabrica! These Terms of Use govern your use of our website and all related services provided by us. By accessing or using our website, you agree to be bound by these Terms of Use. Please read them carefully before using our platform.</p>
      </div>
      <div class="terms-content">
        <section class="term-section">
          <h2>1. General Information</h2>
          <p>1.1. Money Fabrica is an online platform dedicated to providing valuable insights, educational content, and resources on personal finance, investing, entrepreneurship, and wealth management.</p>
          <br>
          <p>1.2. The information provided on our website is for general informational purposes only and should not be considered as professional financial advice. We encourage you to seek advice from a qualified financial professional for personalized recommendations.</p>
        </section>
        <section class="term-section">
          <h2>2. Intellectual Property</h2>
          <p>2.1. All content on Money Fabrica, including articles, images, videos, logos, and trademarks, is the property of Money Fabrica and protected by copyright and other intellectual property laws. You may not use, copy, reproduce, distribute, or modify our content without explicit permission from us.</p>
          <br>
          <p>2.2. By submitting any content to our platform, such as comments or user-generated content, you grant us a non-exclusive, royalty-free, perpetual, and worldwide license to use, display, reproduce, and distribute such content.</p>
        </section>
        <section class="term-section">
          <h2>3. User Conduct</h2>
          <p>3.1. You agree to use Money Fabrica in a manner consistent with all applicable laws and regulations.</p>
          <br>
          <p>3.2. You must not engage in any activity that may disrupt, damage, or interfere with the functioning of our website or infringe upon the rights of other users.</p>
          <br>
          <p>3.3. When using our platform, you must refrain from posting or sharing content that is illegal, harmful, offensive, or violates the rights of others.</p>
        </section>
        <section class="term-section">
          <h2>4. Newsletter and Communications</h2>
          <p>4.1. By providing your email address to subscribe to our newsletter, you consent to receive periodic emails from Money Fabrica containing relevant updates, content, and promotional materials.</p>
          <br>
          <p>4.2. We value your privacy and will handle your personal information in accordance with our Privacy Policy.</p>
        </section>
        <section class="term-section">
          <h2>5. Third-Party Links</h2>
          <p>5.1. Money Fabrica may contain links to third-party websites or resources. We are not responsible for the content, policies, or practices of these third-party sites, and you access them at your own risk.</p>
        </section>
        <section class="term-section">
          <h2>6. Disclaimer of Liability</h2>
          <p>6.1. Money Fabrica provides content for informational purposes only and does not guarantee the accuracy, completeness, or reliability of the information provided.</p>
          <br>
          <p>6.2. We shall not be liable for any damages or losses arising from your use of our website or reliance on the information presented on our platform.</p>
        </section>
        <section class="term-section">
          <h2>7. Modifications to the Terms</h2>
          <p>7.1. Money Fabrica reserves the right to update or modify these Terms of Use at any time. We will notify users of any significant changes, and continued use of our website after such changes constitutes your acceptance of the updated terms.</p>
        </section>
      </div>
    </div>
    <aside>
      <div class="planner-ad">
        <img src="../../static/images/ads/planner.png" alt="The Ultimate Guided Planner Only For Big Goals">
        <div class="text-btn">
          <h3>The Ultimate Guided Planner</h3>
          <p><strong>only for big goals.</strong><br>Empower your ambitions with our comprehensive goal-oriented planner.</p>
          <a class="button call-to-action-btn a-btn" href="#" target="_blank">Take a Look</a>
        </div>
      </div>
    </aside>
  </div>
</div>
{% endblock %}
