// forms

@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/vars' as *;

form:not(.newsletter-form) {
    @include font-styling('p');
}

.search-menu-form {
    height: 90%;
    padding: 20px clamp(5px, 3vw, 30px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: clamp(1px, 2vw, 25px);
    background-color: map-get($map: $primary, $key: third);
    background-image: linear-gradient(to top, map-get($map: $primary, $key: first), map-get($map: $primary, $key: third));
    border-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -10;
    transition: .3s;
    input {
        flex: 1;
        padding: 10px 15px;
        border: 2px solid map-get($map: $primary, $key: first);
        border-radius: 10px;
        @include font-styling("btn")
    }
    button {padding: 10px clamp(10px, 2vw, 20px);}
    @include breakpoints(medium) {
        left: 0;
        bottom: 0;
        height: 100%;
        background-image: none;
        background-color: map-get($map: $primary, $key: light-color);
        border: 1px solid map-get($map: $primary, $key: dark-light-color);
        border-right: none;
        border-radius: 0;
    }
}

.form-trans-bg {
    background-color: transparent;
    background-image: none;
    padding-top: 0;
    right: -30px;
    * {margin-top: -31px;}
    @include breakpoints(medium) {
        background-color: map-get($map: $primary, $key: light-color);
        padding-top: 20px;
        right: 0;
        * {margin-top: 0;}
    }
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
    height: fit-content;
    label {
        margin-bottom: 30px;
        font-size: xx-large;
        span {
            color: map-get($map: $primary, $key: first);
            text-shadow: 0 0 4px map-get($map: $primary, $key: light-color);
        }
    }
    input {
        padding: 5px 15px;
        border: 2px solid map-get($map: $primary, $key: first);
        border-radius: 10px;
        @include font-styling("p");
    }
}

.text-form {
    width: 60%;
    padding: map-get($map: $forms, $key: pad);
}



