/// article page styling

@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.main-section {
    margin-bottom: clamp(40px, 8vw, 100px);
    .article-header {
        .container {
            display: flex;
            gap: clamp(20px, 3vw, 30px);
            padding: clamp(20px, 5vw, 50px) 0;
            padding-bottom: 0;
            .title {
                flex: 2.5;
                display: flex;
                flex-direction: column;
                gap: clamp(10px, 3vw, 20px);
                time {
                    text-transform: uppercase;
                    color: map-get($map: $primary, $key: dark-color-2);
                }
            }
            .in-between-ads {
                flex: 1;
                display: flex;
                justify-content: center;
                .container {
                    width: 100%;
                    margin: 0;
                }
            }
            @include breakpoints(medium) {
                flex-direction: column;
                .in-between-ads .container {height: 200px;}
            }
        }
    }
    > .container {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        grid-template-areas: "article aside"
                             "after-article aside";
        position: relative;
        article {
            grid-area: article;
            .all-text {
                .img {
                    position: relative;
                    img {
                        width: 90%;
                        height: 90%;
                        margin: 20px 0;
                        border-radius: 15px;
                        border: 2px solid map-get($map: $primary, $key: dark-color);
                    }
                    &::before {
                        content: "Money Fábrica";
                        @include font-styling("h2");
                        color: map-get($map: $primary, $key: light-color);
                        position: absolute;
                        top: 20px;
                        left: 15px;
                    }
                }
                h2 {margin-top: 40px;}
                h3 {
                    margin-top: 20px;
                    padding-left: 60px;
                }
                h3 + p {padding-left: 60px;}
            }
        }
        .after-article {
            margin-top: 80px;
            grid-area: after-article;
            display: flex;
            flex-direction: column;
            gap: 30px;
            .share-article {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
                width: fit-content;
                a {
                    border: none;
                    padding-inline: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    * {color: map-get($map: $primary, $key: second);}
                }
                a.fb {@include social-icon("fb")}
                a.pin {@include social-icon("pin")}
                a.tw {@include social-icon("tw")}
                a.in {@include social-icon("in")}
            }
            .article-source {
                padding: 10px 0;
                border-top: 1px solid map-get($map: $primary, $key: dark-color);
                border-bottom: 1px solid map-get($map: $primary, $key: dark-color);
            }
            .related-articles {
                display: flex;
                flex-direction: column;
                p {font-weight: bold;}
                .articles-section {
                    display: grid;
                    grid-template-columns: repeat(3, minmax(min(150px, 100%), 1fr));
                    gap: clamp(20px, 4vw, 30px);
                    margin-top: clamp(20px, 5vw, 40px);
                    position: relative;
                    a {
                        display: flex;
                        flex-direction: column;
                        gap: clamp(10px, 3vw, 20px);
                        z-index: 333;
                        img {
                            border-radius: 15px;
                            width: 100%;
                            transition: .3s;
                        }
                        .text {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            color: map-get($map: $primary, $key: dark-color);
                            h3 {
                                @include font-styling("p");
                                line-height: clamp(get-line-height-h1(1.1rem), 3vw, get-line-height-h1(1.7rem));
                                font-weight: bolder;
                                position: relative;
                                transition: .3s;
                                &::before {
                                    content: "";
                                    width: 15%;
                                    height: 3px;
                                    background-color: map-get($map: $primary, $key: first);
                                    position: absolute;
                                    bottom: -5px;
                                }
                            }
                            time {
                                width: fit-content;
                                font-weight: bold;
                                text-transform: uppercase;
                                color: map-get($map: $primary, $key: dark-color-2);
                            }
                        }
                        &:hover {
                            * {
                                transition: .3s;
                                transition-delay: .2s;
                            }
                            img {transform: scale(1.05);}
                            .text {
                                h3 {
                                    color: map-get($map: $primary, $key: first);
                                    transition-delay: .2s;
                                }
                            }
                        }
                    }
                }
            }
        }
        aside {
            grid-area: aside;
        }
        @include breakpoints(medium) {
            display: flex;
            flex-direction: column;
            gap: 50px;
            aside {margin-left: 0;}
        }
        @include breakpoints(small) {
            .after-article {
                .share-article {
                    margin-inline: auto;
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
        @include breakpoints(between-small) {
            .after-article {
                .related-articles {
                    .articles-section {grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));}
                }
            }
        }
    }
}


