/// footer styling

// footer
@use '../abstracts/colors' as *;
@use '../abstracts/vars' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;


footer {
    .newsletter {
        background-image: url(../../images/newsletter.png);
        background-size: cover;
        // background-position: center;
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: clamp(10px, 5vw, 150px);
            padding: 40px 0px;
            p {
                @include font-styling("h1");
                font-weight: bolder;
                width: 35%;
            }
        }
        @include breakpoints(extra-large) {
            .container {
                padding: 160px 0;
                p {
                    width: 25%;
                    font-size: map-get($map: $f-sizes-extra-large, $key: h1-size);
                    line-height: get-line-height-h1(5rem);
                }
                form {
                    label {
                        font-size: map-get($map: $f-sizes-extra-large, $key: h3-size);
                    }
                    input {
                        padding: 20px 40px;
                        font-size: map-get($map: $f-sizes-extra-large, $key: p-size);
                    }
                }
            }
        }
        @include breakpoints(medium) {
            .container {
                flex-direction: column;
                text-align: center;
                gap: clamp(10px, 8vh, 150px);
                p {
                    width: fit-content;
                    line-height: get-line-height-p(3rem);
                }
                form {
                    width: fit-content;
                    align-items: center;
                    gap: 30px;
                    label {
                        line-height: get-line-height-p(1.4rem);
                    }
                    input {
                        width: 90%;
                    }
                }
            }
        }
    }
    .footer {
        background-image: linear-gradient(to bottom, map-get($map: $primary, $key: first), map-get($map: $primary, $key: third));
        background-color: map-get($map: $primary, $key: first);
        .container {
            padding-top: 40px;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            gap: 60px;
            .logo-socials {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                a {
                    display: flex;
                    justify-content: center;
                    width: 50%;
                    .logo {
                        margin-bottom: 20px;
                        width: 100%;
                    }
                }
                p {
                    @include font-styling("p");
                    margin-bottom: 10px;
                    color: map-get($map: $primary, $key: second);
                }
            }
            .footer-links {
                flex: 1.3;
                display: flex;
                gap: 60px;
                color: map-get($map: $primary, $key: second);
                ul {
                    font-size: map-get($map: $f-sizes, $key: h3-size);
                    font-weight: bolder;
                    li {
                        a {color: map-get($map: $primary, $key: second);}
                        padding-bottom: 5px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    li:first-child {
                        margin-top: 20px;
                    }
                }
            }
        }
        > p {
            padding: 10px;
            text-align: center;
            color: map-get($map: $primary, $key: second);
            font-weight: bold;
        }
    }
    @include breakpoints(medium) {
        .footer {
            .container {
                flex-direction: column;
                gap: 100px;
                padding: 50px 0;
                .logo-socials {
                    a .logo { img{width: 40%;}}
                }
                .footer-links {
                    justify-content: space-around;
                    gap: 30px;
                }
            }
        }
    }
    @include breakpoints(extra-small) {
        .footer {
            .container {
                gap: 50px;
                flex-direction: column;
                justify-content: center;
                .logo-socials {.logo {img {width: 50%;}}}
                .footer-links {
                    flex-direction: column;
                    justify-content: center;
                    * {text-align: center;}
                    ul {
                        margin-top: 50px;
                        font-size: map-get($map: $f-sizes, $key: h2-size);
                        li a {font-size: map-get($map: $f-sizes, $key: h3-size);}
                    }
                }
            }
        }
    }
    @include breakpoints(extra-large) {
        .footer {
            .container {
                gap: 200px;
                .logo-socials {
                    flex: 1;
                    justify-content: center;
                    a .logo {
                        margin-inline: auto;
                        img {width: 70%;}
                    }
                    p {font-size: map-get($map: $f-sizes-large, $key: p-header-size);}
                    .social-icons {
                        margin-top: 50px;
                        a {font-size: map-get($map: $f-sizes-extra-large, $key: h1-size);}
                    }    
                }
                .footer-links {
                    flex: 1.5;
                    ul {
                        font-size: map-get($map: $f-sizes-extra-large, $key: h2-size);
                        li a {font-size: map-get($map: $f-sizes-extra-large, $key: h3-size);}
                    }
                }
            }
            > p {font-size: map-get($map: $f-sizes-extra-large, $key: h3-size);}
        }
    }
}