// cards

@use '../abstracts/vars' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

.card {
    display: block;
    padding: map-get($map: $cards, $key: pad);
    margin: map-get($map: $cards, $key: marg);
    background-color: map-get($map: $primary, $key: light-color);
    border: map-get($map: $cards, $key: card-border);
    img {
        border-radius: map-get($map: $cards, $key: img-border-radius);
        width: map-get($map: $cards, $key: img-width);
        height: map-get($map: $cards, $key: img-height)
    };
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: 0 0 2 2 map-get($map: $primary, $key: dark-color);
    }
}

.search-card {
    display: inline-block;
    .text {
        display: block;
        .title {
            @include font-styling('h3');
            color: map-get($map: $primary, $key: first);
        }
        .article-snippet {
            @include font-styling('p');
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.side-card {
    .title {
        font-size: map-get($map: $f-sizes, $key: card-title-size);
        color: map-get($map: $primary, $key: first);
        line-height: get-line-height(font-size);
    }
}

