{% extends "base.html" %}

{% block title %}Not Found|Money Talks{% endblock %}
    
{% block message %}
<div class="message">
  <div class="container">
      <h1>Not Found | Error 404</h1>
      <p>The page you are looking for no longer exists. You can click the back button, return to the <a href="">Home page</a>, or use the search bar below to find what you are looking for. Or, check out these popular posts.</p>
  </div>
</div>
{% endblock %}
{% block content %}
<section class="sections-container">
    <div class="browse-text">
      <h1>Browse Articles</h1>
      <p>Explore our collection of informative articles that offer practical advice on building wealth and developing a winning mindset</p>
    </div>
    <section class="search-articles">
      <div class="container">
        <form class="search-menu-form" action="#" method="post">
          <input type="search" name="search-bar" placeholder="Search articles" autofocus>
          <div class="btns">
            <select class="search-btn button filter-btn" name="categories" id="categories">
              <option value="all-categories" selected>All categories</option>
              <option value="make-money">Build mindset</option>
              <option value="build-mindset">Increase incomes</option>
              <option value="make-money">Develop skills</option>
              <option value="make-money">Remote jobs</option>
              <option value="make-money">Start business</option>
            </select>
            <select class="search-btn button filter-btn" name="filter" id="filter">
              <option value="newest" selected>Newest</option>
              <option value="popular">Popular</option>
            </select>
            <button class="search-btn button call-to-action-btn" id="go" type="submit" name="go-submit">Go</button>
          </div>
        </form>
      </div>
    </section>
    <section class="ads-money-game">
      <div class="container">
        <img src="../../static/images/ads/money_game_bg.png" alt="The Money Game book" title="The Money Game book">
        <div class="text-btn">
          <h2>The Money Game</h2>
          <p>Is a book that combines principles of a <strong>growth mindset</strong> with financial strategies to help readers achieve <strong>financial freedom</strong>.</p>
          <a class="button call-to-action-btn a-btn" href="#" target="_blank" title="Read The Book">Read The Book</a>
        </div>
      </div>
    </section>
    <section class="home-articles">
      <div class="container">
        <div class="section-plus-btn">
          <section class="latest-articles">
            {% for article in latest %}
              <a href="#" target="_blank" class="article">
                <img src="../../static/images/thumbnails/{{article.thumbnail}}" alt="learn how to get rich">
                <div class="text">
                  <h3>{{article.title}}</h3>
                  <time class="date"><i class="fa-solid fa-calendar-days"></i> {{article.pub_date}}</time>
                </div>
              </a>
            {% endfor %}
            <!-- <a href="#" target="_blank" class="article">
              <img src="/images/header.png" alt="learn how to get rich">
              <div class="text">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h3>
                <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
              </div>
            </a>
            <a href="#" target="_blank" class="article">
              <img src="/images/newsletter.png" alt="learn how to get rich">
              <div class="text">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h3>
                <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
              </div>
            </a>
            <a href="#" target="_blank" class="article">
              <img src="/images/header.png" alt="learn how to get rich">
              <div class="text">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h3>
                <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
              </div>
            </a>
            <a href="#" target="_blank" class="article">
              <img src="/images/newsletter.png" alt="learn how to get rich">
              <div class="text">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h3>
                <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
              </div>
            </a>
            <a href="#" target="_blank" class="article">
              <img src="/images/header.png" alt="learn how to get rich">
              <div class="text">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h3>
                <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
              </div>
            </a> -->
          </section>
          <a class="button call-to-action-btn a-btn" href="#" target="_blank" title="See More...">See More...</a>
        </div>
        <div class="in-between-ads">
          <div class="container">
            <h2>ads</h2>
          </div>
        </div>
        <div class="section-plus-btn">
          <section class="popular-articles">
            {% for article in popular %}
              <a href="#" target="_blank" class="article">
                <img src="../../static/images/thumbnails/{{article.thumbnail}}" alt="learn how to get rich">
                <div class="text">
                  <h3>{{article.title}}</h3>
                  <time class="date"><i class="fa-solid fa-calendar-days"></i> {{article.pub_date}}</time>
                </div>
              </a>
            {% endfor %}
            <!-- <a href="#" target="_blank" class="article">
              <img src="/images/header.png" alt="learn how to get rich">
              <div class="text">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h3>
                <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
              </div>
            </a>
            <a href="#" target="_blank" class="article">
              <img src="/images/newsletter.png" alt="learn how to get rich">
              <div class="text">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h3>
                <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
              </div>
            </a>
            <a href="#" target="_blank" class="article">
              <img src="/images/header.png" alt="learn how to get rich">
              <div class="text">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h3>
                <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
              </div>
            </a>
            <a href="#" target="_blank" class="article">
              <img src="/images/newsletter.png" alt="learn how to get rich">
              <div class="text">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h3>
                <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
              </div>
            </a>
            <a href="#" target="_blank" class="article">
              <img src="/images/header.png" alt="learn how to get rich">
              <div class="text">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit</h3>
                <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
              </div>
            </a> -->
          </section>
          <a class="button call-to-action-btn a-btn" href="#" target="_blank" title="See More...">See More...</a>
        </div>
      </div>
    </section>
    <section class="search-results">
      <div class="container">
        <div class="result-articles">
          <div class="result-info">
            <p>Search results for: <span class="search-words">Lorem ipsum</span></p>
          </div>
          <a href="#" target="_blank" class="article">
            <img src="../../static/images/newsletter.png" alt="learn how to get rich">
            <div class="text">
              <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, enim!</h3>
              <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
            </div>
          </a>
          <a href="#" target="_blank" class="article">
            <img src="/images/header.png" alt="learn how to get rich">
            <div class="text">
              <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, enim!</h3>
              <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
            </div>
          </a>
          <a href="#" target="_blank" class="article">
            <img src="/images/newsletter.png" alt="learn how to get rich">
            <div class="text">
              <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, enim!</h3>
              <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
            </div>
          </a>
          <a href="#" target="_blank" class="article">
            <img src="/images/header.png" alt="learn how to get rich">
            <div class="text">
              <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, enim!</h3>
              <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
            </div>
          </a>
          <a href="#" target="_blank" class="article">
            <img src="/images/newsletter.png" alt="learn how to get rich">
            <div class="text">
              <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, enim!</h3>
              <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
            </div>
          </a>
          <a href="#" target="_blank" class="article">
            <img src="/images/header.png" alt="learn how to get rich">
            <div class="text">
              <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, enim!</h3>
              <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
            </div>
          </a>
          <a href="#" target="_blank" class="article">
            <img src="/images/newsletter.png" alt="learn how to get rich">
            <div class="text">
              <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, enim!</h3>
              <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
            </div>
          </a>
          <a href="#" target="_blank" class="article">
            <img src="/images/header.png" alt="learn how to get rich">
            <div class="text">
              <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, enim!</h3>
              <time class="date"><i class="fa-solid fa-calendar-days"></i> May 10, 2023</time>
            </div>
          </a>
          <div class="results-pages">
            <button class="button pages-btn backword-btn">Previous</button>
            <button class="button pages-btn page-1">1</button>
            <button class="button pages-btn page-2">2</button>
            <button class="button pages-btn three-points">...</button>
            <button class="button pages-btn last-page">8</button>
            <button class="button pages-btn forword-btn">Next</button>
          </div>
        </div>
        <aside class="ads-others">
          <div class="company-ad">
            <img src="../../static/images/header.png" alt="">
          </div>
          <div class="company-ad">
            <img src="../../static/images/newsletter.png" alt="">
          </div>
          <div class="planner-ad">
            <img src="../../static/images/ads/planner.png" alt="The Ultimate Guided Planner Only For Big Goals">
            <div class="text-btn">
              <h3>The Ultimate Guided Planner</h3>
              <p><strong>only for big goals.</strong><br>Empower your ambitions with our comprehensive goal-oriented planner.</p>
              <a class="button call-to-action-btn a-btn" href="#" target="_blank">Take a Look</a>
            </div>
          </div>
        </aside>
      </div>
    </section>
    <div class="in-between-ads">
      <div class="container">
        <h2>ads</h2>
      </div>
    </div>
  </section>
{% endblock %}