// about-us page styling

@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

.about-plus-ads {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-areas: "about planner";
    gap: clamp(20px, 4vw, 40px);
    margin: 40px 0;
    .about-container {
        grid-area: about;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .about-heading {
            display: flex;
            flex-direction: column;
        }
        .about-content {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    aside {grid-area: planner;}
    @include breakpoints(medium) {
        display: flex;
        flex-direction: column;
        gap: 50px;
        aside {
            margin-left: 0;
            .planner-ad img {width: 60%;}
        }
    }
}