{% extends 'base.html' %}

{% block title %}Under Development{% endblock %}

{% block content %}
<div class="container">
  <section class="under-dev-section">
    <h1>Oops!!!</h1>
    <h3>This page is still under development</h3>
    <p><i class="fa-solid fa-right-long"></i> Our dedicated tech team is working diligently to bring it to life as quickly as possible.</p>
    <p><i class="fa-solid fa-right-long"></i> Please <span>subscribe</span> to our newsletter below to stay informed and be notified when this page becomes available.</p>
  </section>
</div>
{% endblock %}