{% extends 'base.html' %}

{% block title %}Under Development{% endblock %}

{% block content %}
<div class="container">
  <section class="under-dev-section">
    <h1>Oops!!!</h1>
    <h3>This page is still under development</h3>
    <p><i class="fa-solid fa-right-long"></i> Our dedicated tech team is working diligently to bring it to life as quickly as possible.</p>
    <p><i class="fa-solid fa-right-long"></i> Please <span>subscribe</span> to our newsletter below to stay informed and be notified when this page becomes available.</p>
  </section>
</div>
<div class="sections-container">
  <section class="home-articles">
    <div class="container">
      <div class="in-between-ads">
        <div class="container">
          <h2>ads</h2>
        </div>
      </div>
      <div class="section-plus-btn">
        <section class="latest-articles">
          {% for article in latest_articles %}
          <a href="{% url 'article_page' keyword=article.slug %}" target="_blank" class="article">
            <img src="../../static/images/thumbnails/{{article.thumbnail}}" alt="{{article.title}}">
            <div class="text">
              <h3>{{article.title}}</h3>
              <time class="date"><i class="fa-solid fa-calendar-days"></i> {{article.pub_date}}</time>
            </div>
          </a>
          {% endfor %}
        </section>
        <button class="button call-to-action-btn a-btn" id="see-more-latest" onclick="load_more_articles('latest')">See More...</button>
      </div>
      <div class="in-between-ads">
        <div class="container">
          <h2>ads</h2>
        </div>
      </div>
      <div class="section-plus-btn">
        <section class="popular-articles">
          {% for article in popular_articles %}
          <a href="{% url 'article_page' keyword=article.slug %}" target="_blank" class="article">
            <img src="../../static/images/thumbnails/{{article.thumbnail}}" alt="learn how to get rich">
            <div class="text">
              <h3>{{article.title}}</h3>
              <time class="date"><i class="fa-solid fa-calendar-days"></i> {{article.pub_date}}</time>
            </div>
          </a>
          {% endfor %}
        </section>
        <button class="button call-to-action-btn a-btn" id="see-more-popular" onclick="load_more_articles('popular')">See More...</button>
      </div>
    </div>
    <div class="in-between-ads">
      <div class="container">
        <h2>ads</h2>
      </div>
    </div>
  </section>
</div>
{% endblock %}