// banners styling

@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.banner-container {
    position: relative;
    .scroll-btn {
        display: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: map-get($map: $primary, $key: dark-light-color);
        opacity: .2;
        position: absolute;
        z-index: 9999;
        &:first-child {
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
        &:last-child {
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
        &:hover {
            opacity: .8;
            transition: .2s;
        }
    }
    .articles-banner {
        width: 100%;
        margin-top: -110px;
        display: flex;
        justify-content: center;
        background-color: map-get($map: $primary, $key: second);
        box-shadow: 0px 5px 5px 0px map-get($map: $primary, $key: dark-light-color);
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9990;
        transition: margin-top 0.3s ease;
        .articles-group {
            display: flex;
            justify-content: space-between;
            max-width: 1400px;
            height: 80px;
            .item {
                display: flex;
                align-items: center;
                img {
                    width: 80px;
                    height: 80px;
                }
                p {
                    font-size: 0.9rem;
                    line-height: get_line_height(1rem, 1);
                    transition: .3s;
                }
                &:hover {
                    p {
                        color: map-get($map: $primary, $key: links-color);
                        transition: .3s;
                    }
                }
            }
        }
    }
    @include breakpoints(medium) {
        display: none;
    }
}